:root {
  /* --vp-c-brand: #407cb5;
  --vp-c-brand-light: #747bff;
  --vp-c-brand-lighter: #9499ff;
  --vp-c-brand-lightest: #bcc0ff;
  --vp-c-brand-dark: #407cb5;
  --vp-c-brand-darker: #407cb5;
  --vp-c-brand-dimm: rgba(100, 108, 255, 0.08); */
}
